{% extends "index.html" %}

{% block content %}

<head>
  <title>PopcornU!</title>
  <link hrel="http://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
<!--   <link rel="stylesheet" href="style.css"> -->
</head>


<body>

<div class="container">
  <h1>Login</h1>
  <h2 id ='user'></h2>
  <input id="txtEmail" type="email" placeholder="Email">
  <input id="txtPassword" type="password" placeholder="Password">
  <button id="btnLogin" class="btn btn-action">Login</button>
  <button id="btnSignUp" class="btn btn-secondary">Register</button>
  <button id="btnLogout" class="btn btn-action hide">Log out</button>
  <hr>
  <div id="user-info"><h3 id="login-info"></h3></div>
</div>

{% endblock %}


{% block scripts %}

    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='firebase.js') }}""></script>
    <script>

    initApp = function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        var email = user.email;
        var uid = user.uid;
        user.getIdToken().then(function(accessToken) {
          document.getElementById('user').textContent = email + ', you have signed in.';
        });
        console.log('signin', email, uid);
      } else {
        // User is signed out.
        document.getElementById('user').textContent = 'No user signed in.';
        console.log('no signin');
      }
    }, function(error) {
      console.log(error);
    });
  };

  window.addEventListener('load', function() {
    initApp()
  });


  //create elements
  const txtEmail = document.getElementById('txtEmail');
  const txtPassword = document.getElementById('txtPassword');
  const btnLogin = document.getElementById('btnLogin');
  const btnSignUp = document.getElementById('btnSignUp');
  const btnLogout = document.getElementById('btnLogout'); 

  //login event
  btnLogin.addEventListener('click', e=> {
      const email = txtEmail.value;
      const password = txtPassword.value;
      const auth = firebase.auth();
      const promise = auth.signInWithEmailAndPassword(email,password);
      promise.catch(e => {
      console.log(e.message);
      alert(e.message);
    });
  }); 

  //signup event
  btnSignUp.addEventListener('click', e => {
      const email = txtEmail.value;
      const password = txtPassword.value;
      const auth = firebase.auth();
      const promise = auth.createUserWithEmailAndPassword(email,password);
      promise.catch(e => {
      console.log(e.message);
      alert(e.message);
    });
     
  });

  //logout event
  btnLogout.addEventListener('click', e => {
      firebase.auth().signOut();
  });

  //realtime listener
  firebase.auth().onAuthStateChanged(firebaseUser => {
    if(firebaseUser){
      console.log(firebaseUser);
      btnLogout.classList.remove('hide');
      btnSignUp.classList.add('hide');
      btnLogin.classList.add('hide');
      // document.getElementById("login-info").innerHTML = firebaseUser.email + ' has signed in.';
    } else {
      console.log('No user logged in');
      btnLogout.classList.add('hide');
      btnSignUp.classList.remove('hide');
      btnLogin.classList.remove('hide');
      // document.getElementById("login-info").innerHTML = 'No user logged in.';
    }
  });

  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
  .then(function() {
    // Existing and future Auth states are now persisted in the current
    // session only. Closing the window would clear any existing state even
    // if a user forgets to sign out.
    // ...
    // New sign-in will be persisted with session persistence.
    return firebase.auth().signInWithEmailAndPassword(email, password);
  })
  .catch(function(error) {
    // Handle Errors here.
    var errorCode = error.code;
    var errorMessage = error.message;
  });


</script>
{% endblock %}