{% extends "index.html" %}

{% block content %}

<head>
  <title>PopcornU!</title>
  <link hrel="http://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
</head>


<body>

<div class="container">
  <h1>Login</h1>
  <h2 id ='user'></h2>
  <input id="txtEmail" type="email" placeholder="Email">
  <input id="txtPassword" type="password" placeholder="Password">
  <button id="btnLogin" class="btn btn-action">Login</button>
  <button id="btnSignUp" class="btn btn-secondary">Register</button>
  <button id="btnLogout" class="btn btn-action hide">Log out</button>
  <hr>
  <div id="user-info"><h3 id="login-info"></h3></div>
  <form action="" method="post" role="form">
    <div id="results">
    <input type="hidden" name="user_name" id="user_name" value=""/>
    <br>
    <label>Your saved results</label>
    <ul id="value"></ul>
    </div>
  </form>
</div>

{% endblock %}


{% block scripts %}

    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='firebase.js') }}""></script>
    <script>

    initApp = function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        var email = user.email;
        var uid = user.uid;
        user.getIdToken().then(function(accessToken) {
          document.getElementById('user').textContent = email + ', you have signed in.';
          document.getElementById('user_name').value = uid;
        });
        console.log('signin', email, uid);
        getUserData(uid);

      } else {
        document.getElementById('user').textContent = 'No user signed in.';
        console.log('no signin');
        cleanData();
      }
    }, function(error) {
      console.log(error);
    });
  };

  window.addEventListener('load', function() {
    initApp()
  });


  //create elements
  const txtEmail = document.getElementById('txtEmail');
  const txtPassword = document.getElementById('txtPassword');
  const btnLogin = document.getElementById('btnLogin');
  const btnSignUp = document.getElementById('btnSignUp');
  const btnLogout = document.getElementById('btnLogout'); 

  //login event
  btnLogin.addEventListener('click', e=> {
      const email = txtEmail.value;
      const password = txtPassword.value;
      const auth = firebase.auth();
      const promise = auth.signInWithEmailAndPassword(email,password);
      promise.catch(e => {
      console.log(e.message);
      alert(e.message);
    });
  }); 

  //signup event
  btnSignUp.addEventListener('click', e => {
      const email = txtEmail.value;
      const password = txtPassword.value;
      const auth = firebase.auth();
      const promise = auth.createUserWithEmailAndPassword(email,password);
      promise.catch(e => {
      console.log(e.message);
      alert(e.message);
    });
     
  });

  //logout event
  btnLogout.addEventListener('click', e => {
      firebase.auth().signOut();
  });

  //realtime listener
  firebase.auth().onAuthStateChanged(firebaseUser => {
    if(firebaseUser){
      console.log(firebaseUser);
      btnLogout.classList.remove('hide');
      btnSignUp.classList.add('hide');
      btnLogin.classList.add('hide');
    } else {
      console.log('No user logged in');
      btnLogout.classList.add('hide');
      btnSignUp.classList.remove('hide');
      btnLogin.classList.remove('hide');
    }
  });


  function writeUserData(uid, email, list){
    firebase.database().ref("users/"+uid).set({
      uid:uid,
      email:email,
      list:list
    });
  };

  function getUserData(uid){
    var ref = firebase.database().ref("users/"+uid+"/list");
    var ul = document.getElementById('value');
      
    ref.on("child_added",function(snapshot)
    {
      var li = document.createElement("li");
      var text = "";
      var key = "";
      snapshot.forEach(function(child){
        console.log(child.key+":"+child.val());
        if (child.key=="text"){
            text = child.val(); 
            console.log("text "+text);
        }
        if(child.key=="keyword"){
            key = child.val();
            console.log("key "+key);
        }

        var a = document.createElement("a");
        a.textContent = " Click";
        a.setAttribute('href', '/search');
        li.innerHTML = "Name: "+text + "  -   keyword: " + key;
        li.appendChild(a);
        ul.appendChild(li);
      });
    });

  };

  function cleanData(){
    var ul = document.getElementById('value');
    ul.innerHTML='';
  }


</script>
{% endblock %}