{% extends 'index.html' %}

{% block content %}

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PopcornU - For your watchlists</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{url_for('static', filename='custom.css')}}") rel="stylesheet" type="text/css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    </head> 
    <body>
        <div class="container">
            <h2 id='user'></h2>
            <img src = "{{url_for('static', filename='icon.png')}}" height="80" width="150" 
                     alt = "PopcornU - For your watchlists" title = "PopcornU - For your watchlists" class="img-responsive"/>
            <label id="search_saved"></label>
        </div>
        <div class="container">
            <form action="{{ url_for('route_results')}}" method="post" role="form" onsubmit="submit">
            <!--search engine for keywords-->
            <div class="row">
                <div id="searchEngine" class="col-md-12" style="margin-bottom: 20px;">
                        <label for="keyword">Keyword:</label>
                        <input type="text" name="keywords" id="keywords" value="{{ keywords }}" placeholder="input title or director"/>
                        <input type="submit" value="Search" name="submit"/>
                        <input type="reset" value="Reset" name="reset" style="margin-right: 20px;"/>
                        <label for="keyword">Save Results:</label>
                        <input type="text" name="save_name" id="save_name" placeholder="name"/>
                        <input type="submit" value="Search and Save" names="save" onclick="save_search()"/>
                        <input type="hidden" name="user_name" id="user_name" value=""/>
                </div>
            </div>
            <!--factes and results-->
            <div id="board" class="row">
                <!--facted search-->
                <br>
                <div class="col-sm-4 col-md-2">
                    <div class="row" style="padding: 0 10px 0 0;">
                        <div class="col-sm-12 col-md-12 info" style="height: 500px;">
                            <h4>Factes Search</h4>
                            <div>
                                <label for="Type">Title&nbsp;Types:</label><br/>
                                <select name="types" id="types" multiple="multiple" size="6" style="width:100px;">
                                    <option value="all types" selected="selected">All</option>
                                    {% for item in types %}
                                        <option value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label for="Genre">Genres:</label><br/>
                                <select name="genres" id="genres" multiple="multiple" size="6" style="width:100px;">
                                    <option value="all genres" selected="selected">All</option>
                                    {% for item in genres %}
                                        <option value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                 <label for="Year">Years:</label><br/>
                                <select name="years" id="years" multiple="multiple" size="6" style="width:100px;">
                                    <option value="all years" selected="selected">All</option>
                                    {% for item in years %}
                                        <option value="{{ item }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <br/>
                                <input type="submit" value="Filter" name="submit"/>
                                <input type="reset" value="Reset" name="reset"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--show search results-->
                <div id="searchResults" class="col-sm-8 col-md-10 info">
                    <h4 >"{{ keywords }}{% for filter in filters %},&nbsp;{{ filter }}{% endfor %}" search results</h4>
                    <br/>
                    <div class="table-responsive pre-scrollable" style="max-height: 435px;">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genres</th>
                            <th>Title&nbsp;Type</th>
                            <th>Popularity</th>
                            <th>Release&nbsp;Date</th>
                            <th>Directors</th>
                            <th>Runtime&nbsp;(mins)</th>
                            <th>Year</th>
                            <th>IMDb&nbsp;Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for item in results %}
                                <tr>
                                    <td>{{ item['Title'] }}</td>
                                    <td>{{ item['Genres'] }}</td>
                                    <td>{{ item['Title Type'] }}</td>
                                    <td>{{ item['Popularity'] }}</td>
                                    <td>{{ item['Release Date'] }}</td>
                                    <td>{{ item['Directors'] }}</td>
                                    <td>{{ item['Runtime (mins)'] }}</td>
                                    <td>{{ item['Year'] }}</td>
                                    <td>{{ item['IMDb Rating'] }}</td>
                                </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </body>
</html>

{% endblock %}



{% block scripts %}
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='firebase.js') }}""></script>
    <script>



    initApp = function() {
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        var email = user.email;
        var uid = user.uid;
        user.getIdToken().then(function(accessToken) {
        document.getElementById('user').textContent = email + ', you have signed in.';
        document.getElementById('user_name').value = uid;
        // document.getElementById('userId').value = "\{\{ "+uid+" \}\}";
          
        });
        console.log('signin', email, uid);
      } else {
        document.getElementById('user').textContent = 'No user signed in.';
        console.log('no signin');
      }
    }, function(error) {
      console.log(error);
    });
  };

  window.addEventListener('load', function() {
    initApp()
  });


  function save_search(){

    var user = firebase.auth().currentUser;
    if (user!=null){
        var uid = user.uid;
        
        var keyword = document.getElementById("keywords").value;
        var text = document.getElementById("save_name").value;
        console.log(text+":"+keyword);
        document.getElementById("search_saved").textContent = "You saved as "+text+".";

        firebase.database().ref("users/"+uid+"/list").push({
            text:text,
            keyword:keyword
    });
    };

  };
</script>
{% endblock %}