<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PopcornU - For your watchlists</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/custom.css" rel="stylesheet" type="text/css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <img src = "../static/icon.png" height="80" width="150" 
                     alt = "PopcornU - For your watchlists" title = "PopcornU - For your watchlists" class="img-responsive"/>
        </div>
        <div class="container">
            <!--search engine for keywords-->
            <div class="row">
                <div id="searchEngine" class="col-md-12">
                    <form action="{{ url_for('getResults')}}" method="post" role="form">
                        <label for="keyword">Keyword:</label>
                        <input type="text" name="keywords" id="keywords" value="6475" />
                        <input type="submit" value="Search" name="submit"/>
                        <input type="reset" value="Reset"  
                               name="reset" />
                    </form>
                </div>
            </div>
            <!--factes and results-->
            <div id="board" class="row">
                <!--facted search-->
                <div class="col-sm-4 col-md-3">
                    <div class="row" style="padding: 0 10px 0 0;">
                        <div class="col-sm-12 col-md-12 info" style="height: 500px">
                            Factes
                        </div>
                    </div>
                </div>
                <!--show search results-->
                <div id="searchResults" class="col-sm-8 col-md-9 info">
                    Results
                    <table class="table table-hover">
                      <thead>
                        <tr>
                            <th>Title</th>
                            <th>Genres</th>
                            <th>Title Type</th>
                            <th>Popularity</th>
                            <th>Release Date</th>
                            <th>Directors</th>
                            <th>Runtime (mins)</th>
                            <th>Year</th>
                            <th>IMDb Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for item in results %}
                                <tr>
                                    <td>{{ item['Title'] }}</td>
                                    <td>{{ item['Genres'] }}</td>
                                    <td>{{ item['Title Type'] }}</td>
                                    <td>{{ item['Popularity'] }}</td>
                                    <td>{{ item['Release Date'] }}</td>
                                    <td>{{ item['Directors'] }}</td>
                                    <td>{{ item['Runtime (mins)'] }}</td>
                                    <td>{{ item['Year'] }}</td>
                                    <td>{{ item['IMDb Rating'] }}</td>
                                </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>